---
interface TechProps {
  label: string;
  bg: string;
  text_color: string;
}

interface Props {
  imagenUrl: string;
  titulo: string;
  tecnologias: Array<TechProps>;
  descripcion: string;
}

const { imagenUrl, titulo, tecnologias, descripcion } = Astro.props;
---

<div
  class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row"
>
  <div class="shrink-0">
    <a href="/">
      <img
        class="w-36 h-auto rounded-full hover:translate-y-1"
        src={imagenUrl}
        alt="Imagen en componente"
      />
    </a>
  </div>
  <div>
    <div class="flex flex-col items-center gap-y-2 md:flex-row">
      <a class="hover:text-cyan-400" href="/">
        <div class="text-xl font-semibold">{titulo}</div>
      </a>
      <div class="ml-3 flex gap-2">
        {
          tecnologias.map((item, index) => (
            <div
              class={`rounded-md px-2 py-1 text-xs font-semibold ${item.bg} ${item.text_color}`}
            >
              {item.label}
            </div>
          ))
        }
      </div>
    </div>
    <p class="mt-3 text-gray-400">
      {descripcion}
    </p>
  </div>
</div>
